body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg,#050505,#0a1a3a,#000814);
  color:white;
}

/* Main container */
.container{
  text-align:center;
  padding-top:80px;
}

/* Title */
.title{
  font-size:40px;
  font-weight:bold;
  color:#5dade2;
  margin-bottom:30px;
}

/* Wallet button */
.connectBtn{
  background:#0d6efd;
  color:white;
  border:none;
  padding:12px 25px;
  font-size:16px;
  border-radius:8px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.connectBtn:hover{
  transform:scale(1.1);
  background:#1f78ff;
}

/* Input box */
.inputBox{
  padding:10px;
  width:250px;
  border-radius:6px;
  border:none;
  margin-right:10px;
}

/* Proposal button */
.createBtn{
  background:#198754;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.createBtn:hover{
  transform:scale(1.1);
}

/* Proposal cards */
.proposalCard{
  background:#111827;
  border:1px solid #1f2937;
  border-radius:10px;
  padding:20px;
  margin:15px auto;
  width:300px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  transition:all 0.3s ease;
}

.proposalCard:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px #2563eb;
}

/* Vote button */
.voteBtn{
  background:#2563eb;
  color:white;
  border:none;
  padding:8px 18px;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.voteBtn:hover{
  transform:scale(1.15);
  background:#132849;
}

/* Wallet text */
.wallet{
  color:#9ca3af;
  margin:10px 0;
}